<div class="container-fluid footer">
  <app-cookienotice></app-cookienotice>
  <div class="row pt-3 pb-5 border-top border-3 border-info">
    <div class="col-4">
    </div>
    <div class="col-4 text-center d-grid">
      <h4 class="mb-0">
        Derek Roberts
      </h4>
      <span>&copy; 2022</span>
      <p>
        View the code for this project on 
        <a href="https://github.com/d3r3kr0b3rts/Resume/" target="_blank" class="btn btn-primary btn-sm">
          Github
          <i class="bi bi-box-arrow-right"></i>
        </a>    
      </p>
    </div>
    <div class="col-4 text-end">
    </div>
  </div>
</div>