<div class="d-grid my-3">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="renderModal()">
    View {{btntxt}} HTML <i class="bi bi-code-square"></i>
  </button>
</div>

<!-- Modal -->
<div class="modal fade px-0" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-info fw-bolder" id="exampleModalLabel">{{page}} Page HTML</h1>
      </div>
      <div class="modal-body">
        <span>{{description}}</span>
        <pre>
          <code>
            {{code}}
          </code>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>