.modal-dialogue{
  /* width: 90vw !important;
  height: 75vh !important; */
}
.modal-content{
  color: #fff;
  background-color: #212529;
  font-family: 'Poppins', Geneva, Verdana, sans-serif;
  border:solid 1px;
}
pre{
  padding-left: 0px;
  margin-left: 0px;
}