<div class="row d-flex justify-content-center">
  <div class="col-auto">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <a href="https://www.edx.org/learn/computer-programming" target="_blank" class="btn btn-primary">
        Harvard edX Computer Science
        <i class="bi bi-box-arrow-right"></i>
      </a>
      <a href="https://ocw.mit.edu/search/?q=computer%20science" target="_blank" class="btn btn-primary align-middle">
        MIT OpenCourseware
        <i class="bi bi-box-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
