<div class="row text-center">
  <h3>Objective</h3>
</div>
<div class="row">
  <div class="col-auto">
    <p>
      Hello and welcome! 
    </p>
    <p>
      My name is Derek and I'm seeking a career serving customers through web development.
    </p>
    <p>
      I'm proficient with all aspects of developing and deploying websites, from assembling server machines and installing OS and software, to writing back and front end code and uploading files to a server.
    </p>
    <ul>
      <li>
        Proficient with various programming and markup languages such as PHP, JS, jQuery, SQL, CSS, HTML and C#.
      </li>
      <li>
        Proficient with LAMP/WAMP and Node server installations.
      </li>
      <li>
        Proficient with Atom, VS Code and Google Chrome development environments.
      </li>
      <li>
        Proficient with procedural and objected oriented programming.
      </li>
      <li>
        Proficient with Composer, NPM, PHPUnit, Git, Windows and Linux CLI tools.
      </li>
      <li>
        Comfortable with various frameworks including Symfony, Angular and Bootstrap.
      </li>
      <li>
        Solid written and verbal communication skills and attention to accuracy with syntax, spelling and grammar.
      </li>
    </ul>
  </div>
</div>