<nav class="navbar navbar-expand-md bg-info sticky-top mb-5">
  <div class="container-fluid">
    <a class="navbar-brand px-2" aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['']">Home <i class="bi bi-house"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/profile']">Profile <i class="bi bi-person-bounding-box"></i></a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="">Frameworks <i class="bi bi-box"></i></a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/education']">Education <i class="bi bi-book"></i></a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/employment']">Employment <i class="bi bi-building"></i></a>
      </div>
    </div>
  </div>
</nav>