<nav class="navbar navbar-expand-md bg-info sticky-top mb-5">
  <div class="container-fluid">
    <a class="navbar-brand active" aria-current="page" [routerLink]="['/']">Home </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" [routerLink]="['/profile']">Profile <i class="bi bi-person-bounding-box"></i></a>
        <a class="nav-link" [routerLink]="">Frameworks <i class="bi bi-box"></i></a>
        <a class="nav-link" [routerLink]="">CLI <i class="bi bi-terminal"></i></a>
        <a class="nav-link" [routerLink]="">Employment <i class="bi bi-person-vcard"></i></a>
      </div>
    </div>
  </div>
</nav>